@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

body {
    background-color: #141414;
    padding-top: 1em;
    text-align: center;
    background-size: 99%;
    background-position: 50%;
  }

  .h1, h2, h3, h4 ,h4 {
      color: #fff;
      font-size: 42px;;
      font-family: 'Goldman', regular;
      text-align: left;
      margin-left: 5%;
      margin-top: 5%; 
  }

  #root {
    border: 0.2em solid #fff;
    background-color: #000;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    width: 300px;
    height: 600px;
    
  }

  .start-menu {
    width: 100%;
    height: 90vh;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Goldman';
  }

  .start-text {
    font-size: 128px;
    margin-bottom: 100px;
  }

  .start-btn {
    font-family: 'Goldman';
    width: 512px;
    height: 145px;
    margin: 0 auto;
    font-size: 80px;
    font-weight: 400;
    background-color: #33a133;
    color: rgb(190, 178, 178);
    border-radius: 15px;
    text-shadow: 2px 7px 6px rgba(0, 0, 0, 0.25);
    transition: all ease-in-out .2s;
  }

  .start-btn:hover {
    background-color: #336833;
    cursor: pointer;
  }

  .how-to-play-button{
    font-family: 'Goldman';
    width: 120px;
    height: 50px;
    margin: 19px auto 0;
    font-size: 15px;
    background-color: #c0c0c0;
    color: #000;
    border-radius: 8px;
    transition: all ease-in-out .2s;
  }

  .how-to-play-button:hover{
    background-color: #909090;
    cursor: pointer;
  }

  .hidden {
    display: none;
  }
  